body {
    margin: 0;
    padding: 0;
    background-color: coral;
}
h1,h2,h3,h4,h5 {
    font-family: 'ariel' 'sans-serif';
}
section {
    padding-top: 10px;
}
nav form {
    color: white;
}
.navbar-brand{
    margin-left: 95%;
    font-size: 30px;
}
.form-check-input {
    margin: 0 10px !important;
}
nav h3 {
    color: white;
}
#cityName {
    display: inline;
    margin-right: 10px;

}
.currentWeather {
    padding-top: 30px;
}
.user-section {
    background-color: #429e42;
    border-radius: 5px;
}
.display-section {
    border: 1px solid #f1eded;
}
body i {
    margin-right: 10px;
}
#submitBtn {
    background-color: rgb(3, 85, 218);
    margin-left: 20px;
}
#submitBtn:hover {
    background-color: rgba(3, 85, 218, 0.534);
}
#forecastDays {
    margin: 0 auto;
}
#day1,
#day2,
#day3,
#day4,
#day5
{
    background-color: #0763be;
    padding: 5px 25px;
    margin: 10px;
    color: #fff;
    font-size: 12px;
}

